/* Color Palette: */
/* https://coolors.co/727a86-30bced-009ddc-31393c-6cd4ff */
html { font-size: calc(1em + 1vw) }

body {
  background-color: #282a2b;
  color: #ececec;
  /* font-family: 'Cousine', monospace; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#emphasize {
  font-size: 1.3em;
  font-weight: 600;
  color: #6CD4FF;
}

#title {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

#time-remaining {
  /* font-size: 1em; */
  display: flex;
  width: 23vw;
  justify-content: space-between;
  align-items: center;
}

.clock {
  font-family: 'Inconsolata', monospace;
  display: flex;
  align-items: center;
}

.on {
  animation: timer-on 0.2s;
  animation-fill-mode: forwards;
}

.off {
  animation: timer-off 0.2s;
  animation-fill-mode: forwards;
}

#ot {
  animation: timer-off 0.2s;
  animation-fill-mode: forwards;
}

@keyframes timer-on {
  0% {
    color: #ff6c6c;
  }
  100% {
    color: #6CD4FF;
  }
}

@keyframes timer-off {
  0% {
    color: #6CD4FF;
  }
  100% {
    color: #ff6c6c;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-input {
  font-family: 'Inconsolata', monospace;
  background: #282a2b;
  border: none;
  color: #ececec;
  outline: none;
  font-size: 1em;
}

.minutes-input {
  width: 2.3vw;
  text-align: right;
}

.seconds-input {
  width: 2.3vw;
  text-align: left;
}

form {
  display: flex;
}

#timer-button {
  outline: none;
  background: none;
  font-size: 0.7em;
  /* border-radius: 50em; */
  width: 13vw;
  animation: btn-no-hover 0.2s;
  animation-fill-mode: forwards;
  border: none;

  /* this was for the underline */
  /* position: relative;
  color: #6CD4FF;
  text-decoration: none; */
}

#timer-button:hover {
  animation: btn-hover 0.2s;
  animation-fill-mode: forwards;
}

/* this was also for the underline */
/* #timer-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #6CD4FF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
} */

/* this was also also for the underline */
/* #timer-button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.7);
  transform: scaleX(0.7);
} */

/* this is to move the buttons down while clicked */
#timer-button:active {
  transform: translateY(0.13vh);
}

@keyframes btn-no-hover {
  0% {
    color: #6CD4FF;
  }
  100% {
    color: #ececec;
  }
}

@keyframes btn-hover {
  0% {
    color: #ececec;
  }
  100% {
    color: #6CD4FF;
  }
}

#buttons {
  display: flex;
  justify-content: space-between;
  width: 32vw;
  margin-top: 2vh;
}
