body {
  background-color: #31393C;
  color: #ececec;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#emphasize {
  font-size: 1.3em;
  font-weight: 600;
  color: #6CD4FF;
}

#title {
  font-size: 5em;
  font-weight: bold;
  margin: 0;
}

#time-remaining {
  font-size: 2em;
}
